body{
    background-color: aquamarine;
}

a{
    color: red;
}
a:hover{
    color: black;
}
.menu{
    width: 300px;
    height: 250px;
    padding: 10px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
}
.contenedorTabla{
    display: flex;
    justify-content: center;
}
.alta {
    margin: 10px 0;   
    border: 2px solid black;        
}
.alta td {  
    padding: 10px;   
    border: 1px solid black;           
}
.alta tr{
    border-collapse: collapse;
    border: 1px solid black;  
}
td p{
    text-align: center;
    margin: 0px;
}
.txt{
    text-align: center;
    margin: 0px;
}
.listado{
    border: 2px solid black;
    margin: 10px 0; 
    border-collapse: collapse;
}
.listado td{
    padding: 10px;  
    border: 1px solid black;
}

.lista td{
    border-collapse: collapse;
    border: 1px solid black;
}